.music-card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    background-color: var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.music-card:hover {
    animation: pulse 0.3s ease-in-out;
}

.music-card img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    aspect-ratio: 1;
    border-radius: 8px;
    object-fit: cover;
    flex-shrink: 0;
}

.music-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: 2px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.music-title, .music-artist {
    width: fit-content;
    max-width: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0;
    white-space: nowrap;
    display: inline-block;
    position: relative;
}

.music-title.auto-scroll, .music-artist.auto-scroll {
    animation: scroll-text 7s linear infinite alternate;
    padding-right: 20px;
    --scroll-distance: 0px;
}

.music-card:hover .music-title.auto-scroll, .music-card:hover .music-artist.auto-scroll {
    animation-play-state: paused;
}

.music-infos {
    width: fit-content;
    color: var(--primary-color);
    background-color: var(--dark-bg-color);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 12px;
    text-align: center;
    white-space: nowrap;
    flex-shrink: 0;
}

@keyframes scroll-text {
    0%, 20% { transform: translateX(0); }
    90%, 100% { transform: translateX(calc(var(--scroll-distance, 0) * -1)); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.01); }
    100% { transform: scale(1); }
}


/* Responsive design */
@media (max-width: 768px) {
    .music-card {
        max-width: 100%;
        gap: 8px;
        padding: 6px;
    }

    .music-card img {
        width: 60px;
        height: 60px;
    }

    .music-title {
        font-size: 0.8rem;
    }

    .music-artist {
        font-size: 0.7rem;
    }

    .music-infos {
        font-size: 0.6rem;
    }
}