footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    color: var(--primary-color);
    
    &::before {
        content: "";
        display: block;
        position: relative;
        width: 500px;
        max-width: 90%;
        height: 1px;
        margin-bottom: 20px;
        background-color: var(--primary-color);
    }

    img {
        width: 100%;
        width: 40px;
        height: 40px;
        transition: transform 0.2s ease-in-out;
    }

    img:hover {
        transform: scale(1.1);
    }

    .version {
        font-size: 0.75rem;
        color: var(--text-color);
    }
}