.charts {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    border: 2px dashed var(--accent-color);
    border-radius: 10px;
    margin-top: 20px;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 20px auto;
}

.counter-container h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #333;
}

.counter {
    font-size: 2rem;
    font-weight: bold;
    color: #4CAF50;
}