/* Automatic slider */
:root {
    --width: 250px;
    --height: 300px;
    /* --duration: 20s; */
    /* --quantity: 5; */
}

.div-slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(to right,
                transparent,
                var(--main-bg-color) 5% 95%,
                transparent);
}

.slider {
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-darker);
    color: black;
    padding: 20px 10px;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 15px;
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun var(--duration) linear infinite;
    transition: filter 0.5s;
    animation-delay: calc((var(--duration) / var(--quantity)) * (var(--position) - 1) - var(--duration)) !important;
}

.slider-text {
    font-size: 1.1rem;
}

@keyframes autoRun {
    from { left: 100%; }
    to { left: calc(var(--width) * -1); }
}

.div-slider:hover .slider-item {
    animation-play-state: paused !important;
    /* background-color: var(--primary-color-darker); */
}

.slider-item:hover {
    background-color: var(--primary-color) !important;
}

/* media queries */
@media screen and (max-width: 768px) {
    :root {
        --width: 180px;
        --height: 250px;
    }
}