:root {
    --accent-color: #FF6700;
    --main-bg-color: #0D1B2A;
    --secondary-color: #1B263B;
    --text-color: #E0E1DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
}

a {
    color: var(--accent-color);
    text-decoration: underline;
}


/* TITLE */
.title {
    margin: 20px 0 10px;
    text-align: center;
}

.title-text {
    color: var(--accent-color);
    font-size: 3rem;
}


/* CONTAINER */
.main-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

.intro {
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    word-wrap: break-word;
    background-color: var(--secondary-color);
}

.additional-infos {
    font-size: 1.2rem;
    line-height: 2;
}

.accent-color {
    color: var(--accent-color);
}

@media (max-width: 800px) {
    .title {
        margin-top: 10px;
    }

    .title-text {
        font-size: 2rem;
    }

    .intro {
        font-size: 1.2rem;
    }
}